.row {
  user-select: none;
  height: 51px;
  background-color: var(--mantine-color-white);
  border-top: 1px solid var(--mantine-color-gray-3);
}

.row.highlight {
  background-color: var(--mantine-color-blue-0);
}

.rowCheckbox {
  visibility: hidden;
}

.rowCheckboxVisible {
  visibility: visible;
}

.row:hover .rowCheckbox,
.row.highlight .rowCheckbox {
  visibility: visible;
}

.rowName {
  max-width: 340px;
}

@media (max-width: 850px) {
  .table thead tr > th:nth-child(2),
  .table tbody tr > td:nth-child(2) {
    display: none;
  }
}

@media (max-width: 850px) {
  .rowName {
    max-width: 200px;
  }
}
