<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <proxy enabled="true" preserveHostHeader="true" />
		<rewrite>
            <rules>
                <rule name="ReverseProxySaml for api" stopProcessing="true">
                  <match url="^saml2/(.*)$" />
                  <action type="Rewrite" url="http://localhost:5000/saml2/{R:1}" />
                </rule>
                <rule name="ReverseProxy for api" stopProcessing="true">
				    <match url="^api/(.*)$" />
				    <action type="Rewrite" url="http://46.148.238.130:38033/api/{R:1}" />
                    <!-- <serverVariables>
                        <set name="X-Module" value="Disk" />
                    </serverVariables> -->
    			</rule>
	    		<rule name="ReverseProxyUI" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5173/{R:1}" />
				</rule>
            </rules>
			<outboundRules>
                <rule name="Modify Cookie">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
                    <conditions>
                            <add input="{R:0}" pattern="(.*).drive-app.r7-office.ru(.*)" />
							<!--add input="{R:0}" pattern="(.*).cddisk.r7-office.ru(.*)" /-->
                    </conditions>
                    <action type="Rewrite" value="{C:1}.r7-office.ru{C:2}" />
                </rule>
            </outboundRules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2294967295" /> <!--100Mb-->
            </requestFiltering>
        </security>
    </system.webServer>
    <!--system.web>
        <httpCookies domain=".r7-office.ru" httpOnlyCookies="true" sameSite="Unspecified" />
    </system.web-->
</configuration>
